th, td {
    border: 1px solid #999999;
}
#items_list td{
    text-align: center;
    height: 50px;
}
#goods_list ,table{
    border-collapse: collapse;
}
table{
    margin:0 auto;
    margin-top: 10px;
    width: 90%;
}
table tr th {
    background-color: rgb(245,245,245);
}
#number{
    width: 25px;
    text-align: center;
}
#items_list{
    width: 95%;
}
#subtotal{
    width: 200px;
}
.button{
    float: right;
    height: 100px;
    padding-right: 10px;
}
.button button{
    width: 80px;
    height: 40px;
    margin-top: 0px;
    background-color: rgb(88, 135, 207);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
#title{
    float: left;
    font-size: 30px;
    padding-left: 25px;
}
input{
    width: 20px;
    text-align: center;
}
#money{
    width: 380px;
}

.bnt{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(88, 135, 207);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}